<%= stylesheet_link_tag 'edit' %>
<%= stylesheet_link_tag 'home' %>
<%= render 'partials/navbar' %>

<div class="edit_cont">
<h1 class="text-center fw-bold">Edit <%= resource_name.to_s.humanize %></h1>
  <form class="row g-3">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field col-md-6">
    <%= f.label :email, for:"email", class:"form-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", id:"email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field col-md-6">
    <%= f.label :password ,for:"inputPassword4", class:"form-label" %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control", id:"inputPassword4" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation ,for:"inputPassword4", class:"form-label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", id:"inputPassword4" %>
  </div>

  <div class="field">
    <%= f.label :current_password ,for:"inputPassword45", class:"form-label" %> <i>(we need your current password to confirm your changes)</i><br /><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control", id:"inputPassword45" %>
  </div>


  <div class="d-grid gap-2 d-md-block">
    <%= f.submit "Update", class:"btn btn-primary" %>
  </div>
<% end %>

  <div class="actions col-12 text-center mb-4">
    <%= link_to "Back", :back, class:"btn btn-warning" %>
  </div>

<h4 class="text-danger text-center">Danger Zone</h4>
<div class="actions col-12 danger_zone p-3 mb-4">
<h3 class="text-center">Cancel my account</h3>
    <div class="text-center"><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete,  class:"btn btn-danger" %></div>
  </div>


  </form>
</div>

<script>//to truncate the text in the announcement section
function truncateParagraphs(elementSelector, maxLength) {
  const elements = document.querySelectorAll(elementSelector);

  if (elements.length === 0) {
    console.error(`No elements found with selector '${elementSelector}'.`);
    return;
  }

  elements.forEach(element => {
    const text = element.textContent.trim();

    if (text.length > maxLength) {
      const truncatedText = text.slice(0, maxLength) + '...';
      element.textContent = truncatedText;
    }
  });
}

// Usage
truncateParagraphs('.font_size_15', 75); // Truncate text inside elements with class 'font_size_15' to 50 characters
truncateParagraphs('.news_link', 30); // Truncate text inside elements with class 'new_link' to 50 characters


</script>

<script> //to toggle the updates tab in phone view
    let updates = document.getElementById('updates');
    let updates_tab = document.getElementById('updates_tab');

    updates.addEventListener('click', function(){
        updates_tab.classList.toggle('vis');
    })
</script>