<%= stylesheet_link_tag 'home' %>
<%= stylesheet_link_tag 'form_page' %>
<%= render 'partials/navbar' %>

<<<<<<< HEAD
<%= render 'form', forms: @forms %>

<%= link_to 'Back', forms_path %>
=======
<h1>The form update</h1>
<%= @form.role%>
<div>
    <% @questions.where(form_id: @id_form).each do |question| %>
    <%= question.title %>
    <%end%>
</div>
<%= form_for :question, url: questions_create_path do |form| %>
<%= form.text_field :title%>
<%= form.hidden_field :form_id, value: @id_form%>
<%= form.submit%>
<%end%>
>>>>>>> b63d198afd1cd53145b0378f28d233b4563781bf
