<p id="notice"><%= notice %></p>

<p>
  <strong>Role:</strong>
  <%= @form.role %>
</p>

<p>
  <strong>Salary:</strong>
  <%= @form.salary %>
</p>

<p>
  <strong>Typeposition:</strong>
  <%= @form.typeposition %>
</p>

<p>
  <strong>Description:</strong>
  <%= @form.description %>
</p>

<%= link_to 'Edit', edit_form_path(@form) %> |
<%= link_to 'Back', forms_path %>
