<%= form_with(model: credit_question) do |form| %>
  <% if credit_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(credit_question.errors.count, "error") %> prohibited this credit_question from being saved:</h2>

      <ul>
        <% credit_question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_area :title %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
